<h3>Tech test, second question</h3>

<p>Use the given data file to do:</p>

<ul>
  <li>Data visualization with information that you think is important.</li>
  <li>There's no limit on the way you approach to this task. You could do a single static pie chart or a combination of interactive charts</li>
  <li>Make sure to use any templating engine and module loader that you find appropriate, and the result should have appealing UI, support modern browser and mobile friendly.</li>
</ul>

<div class="charts" google-chart chart="chartGeneral"></div>

<div class="charts" google-chart chart="chartBananas"></div>

<div class="charts" google-chart chart="chartOranges"></div>

<div class="charts" google-chart chart="chartApples"></div>

<div class="charts" google-chart chart="chartPeaches"></div>



